<!DOCTYPE HTML>
<html>
<h2>Add a Product</h2>

<form action="/" method="post">
  <label for="product" Product Name</label>
  <input id="product" name="product">
  <input type="submit" value="Add a Product"></form>
